name: Collect

on:
  workflow_dispatch:

  push:
    paths:
      - "./EternityBase"
      - "./sub/sub_merge_base64.txt"
      - "./sub/sub_merge_yaml.yml"

  schedule:
    - cron: "0 0,12 * * *"

jobs:
  main:
    name: Cron
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: "18.x"
      - uses: bahmutov/npm-install@v1.6.0
        with:
          working-directory: ./utils/localserver
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "pip"
      - name: Set Timezone
        run: sudo timedatectl set-timezone 'Asia/Tehran'
      - name: Install Requirements
        run: |
          pip install -r ./utils/requirements.txt
      - name: (01/03)Collect
        run: |
          wget -O subconverter.tar.gz https://github.com/tindy2013/subconverter/releases/download/v0.7.2/subconverter_linux64.tar.gz
          tar -zxvf subconverter.tar.gz -C ./
          chmod +x ./subconverter/subconverter && nohup ./subconverter/subconverter >./subconverter.log 2>&1 &
          node ./utils/localserver/index.js &
          sleep 2
          python ./utils/list_merge.py
      - name: (02/03)Commit
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git pull origin master
          git add ./sub
          git add ./utils/Country.mmdb
          git checkout master
          git commit -m "$(date '+%Y-%m-%d %H:%M:%S') $(curl ifconfig.co/json)"
      - name: (03/03)Push Changes
        uses: ad-m/github-push-action@master
        with:
          branch: master

      - name: Test
        run: |
          sleep 5
          sudo sh ./utils/speedtest/speedtest2_yaml.sh
          python ./utils/speedtest/output.py
      - name: Commit changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git pull origin master
          git add Eternity
          git add ./sub/sub_merge.txt
          git add ./sub/sub_merge_base64.txt
          git commit -m "$(date '+%Y-%m-%d %H:%M:%S') Tested"
      - name: Push Change
        uses: ad-m/github-push-action@master
        with:
          branch: master